{% extends 'base.html' %}

{% block content %}
    <ul>
        <li>Title: <a href="{% url 'blog:post_list' %}">{{ post.title }}</a></li>
        <li>authored by: {{ post.author }}</li>
        <li>Created on: {{ post.created }}</li>
        <li>slug: {{ post.slug }}</li>
        <li>Body: {{ post.body }}</li>
        <br>
        <li>Lorem text: {% lorem %}</li>
        <br>
        <li>You are viewing this on: {% now "jS F Y H:i" %}</li>
    </ul>
    <p>
        <a href="{% url 'blog:post_share' post.id %}">share this post</a>
    </p>


    {% if comments %}
        {% for comment in comments %}
            <p><strong>comment {{ forloop.counter }}</strong> {{ comment.name }} said {{ comment.body }}</p>
        {% endfor %}
        <p>{{ comments.count }} comment{{ comments.count|pluralize }}</p>
    {% else %}
        <p>{{ comments.count }} comment{{ comments.count|pluralize }}</p>
    {% endif %}
    <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
