{% extends 'base.html' %}

{% block content %}
    <h1>All books</h1>
    {% for post in posts %}
        <ul>
            <li>Title: <a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></li>
            <li>title: {{ post.title }}</li>
            <li>Author: {{ post.author }}</li>
            <li>created: {{ post.created }}</li>
            <li>slug: {{ post.slug }}</li>


        </ul>
    {% endfor %}
    {% include "blog/pagination.html" with page=posts %}
{% endblock content %}
